<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RevisaDBF.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        
        <add key="DBFConnectionString" value="Driver={Microsoft Visual FoxPro Driver};SourceType=DBF;SourceDB="/>

        <add key="ClientSettingsProvider.ServiceUri" value=""/>
    </appSettings>
</configuration>
